<section class="object collapsible">
    <h2 class="title-wrapper">External Links</h2>
    <div class="object-layout">
        <table class="listing listing-page">
            <col />
            <thead>
                <tr>
                    <th class="title">Link</th>
                </tr>
            </thead>
            <tbody>
                {% for link in external_links %}
                <tr>
                    <td class="title" valign="top">
                        ➡️ <a href="{{ link.1 }}">{{ link.0 }}</a></br>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>