{% extends "wagtailadmin/base.html" %}
{% load wagtailimages_tags %}
{% load i18n %}
{% block titletag %}{% trans "Add user" %}{% endblock %}
{% block content %}

{% trans "Add user" as add_user_str %}
{% include "wagtailadmin/shared/header.html" with title='Admin mit Tenant verknüpfen' merged=1 tabbed=1 icon="user" %}

<ul class="tab-nav merged" data-tab-nav>
    <li class="active"><a href="#account">{% trans "Admin Tenant Link" %}</a></li>
</ul>

<form action="{% url 'wagtail-tenants__admin_link' %}" method="POST" novalidate{% if form.is_multipart %}
    enctype="multipart/form-data" {% endif %}>
    <div class="tab-content">
        {% csrf_token %}
        <section id="account" class="active nice-padding">
            <ul class="fields">
                {% block fields %}
                {% include "wagtailadmin/shared/field_as_li.html" with field=form.superuser %}
                {% include "wagtailadmin/shared/field_as_li.html" with field=form.tenant %}
                {% endblock fields %}
            </ul>
            <input type="submit" value="{% trans 'Save' %}" class="button" />
        </section>
    </div>
</form>
{% endblock %}

{% block extra_css %}
{{ block.super }}
{% include "wagtailadmin/pages/_editor_css.html" %}
{{ form.media.css }}
{% endblock %}
{% block extra_js %}
{{ block.super }}
{% include "wagtailadmin/pages/_editor_js.html" %}
{{ form.media.js }}
{% endblock %}